.rotator {
  position: relative;
  height: 24px;
  width: 12vw;
  overflow: hidden;
}

/* ALL TEXTS */
.rotator span {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(100%);
  opacity: 0;
  animation-name: slideText;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* CENTER STYLE */
.rotator.main span {
  color: white;
  font-weight: 700;
}

/* FADED TEXT */
.rotator.faded span {
  opacity: 0.35;
}

/* DELAYS (MATCH TEXT COUNT) */
.rotator span:nth-child(1) {
  animation-delay: 0s;
}
.rotator span:nth-child(2) {
  animation-delay: 2s;
}
.rotator span:nth-child(3) {
  animation-delay: 4s;
}

/* KEYFRAMES */
@keyframes slideText {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
